<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Intentionally no INTERNET or storage/contact permissions. Networking is granted only by the internal flavor. -->
    <application android:allowBackup="false" android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules" android:supportsRtl="true"
        android:usesCleartextTraffic="false" android:label="@string/app_name"
        android:icon="@drawable/ic_mitin_emblem" android:theme="@style/Theme.Mitin">

    </application>
</manifest>
